In [1]:
import pandas as pd
import numpy as np
print("Pandas version:", pd.__version__)

Pandas version: 2.3.3

In [2]:
# Series (1D labeled array)
s = pd.Series([10, 20, 30, 40, 50], index=['a', 'b', 'c', 'd', 'e'])
print("Series:")
print(s)
print("\nAccess by label:", s['c'])
print("Access by position:", s[0])

Series:
a    10
b    20
c    30
d    40
e    50
dtype: int64

Access by label: 30
Access by position: 10

/var/folders/1w/rl_5s5n96f3fpb_kndsws_740000gn/T/ipykernel_14156/2681235207.py:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print("Access by position:", s[0])

In [3]:
# DataFrame (2D labeled structure)
data = {
    'name': ['Majed', 'Sara', 'Ahmed', 'Fatima'],
    'age': [18, 22, 25, 20],
    'city': ['Riyadh', 'Jeddah', 'Riyadh', 'Dammam']
}
df = pd.DataFrame(data)
print("DataFrame:")
print(df)
print("\nShape:", df.shape)
print("Columns:", df.columns.tolist())
print("Data types:\n", df.dtypes)

DataFrame:
     name  age    city
0   Majed   18  Riyadh
1    Sara   22  Jeddah
2   Ahmed   25  Riyadh
3  Fatima   20  Dammam

Shape: (4, 3)
Columns: ['name', 'age', 'city']
Data types:
 name    object
age      int64
city    object
dtype: object

In [4]:
# Inspect DataFrame
print("First 2 rows:")
print(df.head(2))
print("\nInfo:")
print(df.info())
print("\nSummary statistics:")
print(df.describe())

First 2 rows:
    name  age    city
0  Majed   18  Riyadh
1   Sara   22  Jeddah

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    4 non-null      object
 1   age     4 non-null      int64
 2   city    4 non-null      object
dtypes: int64(1), object(2)
memory usage: 228.0+ bytes
None

Summary statistics:
             age
count   4.000000
mean   21.250000
std     2.986079
min    18.000000
25%    19.500000
50%    21.000000
75%    22.750000
max    25.000000

In [5]:
# Select columns
print("Names column:")
print(df['name'])
print("\nAge and City:")
print(df[['age', 'city']])

# Select rows by position
print("\nFirst row:")
print(df.iloc[0])
print("\nRows 1-2:")
print(df.iloc[1:3])

Names column:
0     Majed
1      Sara
2     Ahmed
3    Fatima
Name: name, dtype: object

Age and City:
   age    city
0   18  Riyadh
1   22  Jeddah
2   25  Riyadh
3   20  Dammam

First row:
name     Majed
age         18
city    Riyadh
Name: 0, dtype: object

Rows 1-2:
    name  age    city
1   Sara   22  Jeddah
2  Ahmed   25  Riyadh

In [6]:
# Read CSV file (using the people.csv we created earlier)
df_csv = pd.read_csv('../people.csv')
print("DataFrame from CSV:")
print(df_csv)
print("\nData types:")
print(df_csv.dtypes)

DataFrame from CSV:
    name  age    city
0  Majed   18  Riyadh
1   Sara   22  Jeddah

Data types:
name    object
age      int64
city    object
dtype: object

In [7]:
# Read CSV with custom options
df_csv2 = pd.read_csv('../people.csv', index_col=0)  # Use first column as index
print("With index_col:")
print(df_csv2)

With index_col:
       age    city
name
Majed   18  Riyadh
Sara    22  Jeddah

In [8]:
# Write DataFrame to CSV
df.to_csv('my_data.csv', index=False)  # index=False means don't save row numbers
print("✓ Saved DataFrame to my_data.csv")

# Read it back
df_read = pd.read_csv('my_data.csv')
print("\nRead back:")
print(df_read)

✓ Saved DataFrame to my_data.csv

Read back:
     name  age    city
0   Majed   18  Riyadh
1    Sara   22  Jeddah
2   Ahmed   25  Riyadh
3  Fatima   20  Dammam